<template>
  <b-card
    :title="title"
    :title-tag="titleTag"
    class="countdown-timer"
  >
    <b-row
      class="timer"
      aria-hidden="true"
    >
      <b-col
        v-if="year"
        class="unit-container"
      >
        <span class="value">{{ timer.year | twoDigit }}</span>
        <div class="unit">{{ yearText }}</div>
      </b-col>
      <b-col
        v-if="month"
        class="unit-container"
      >
        <span class="value">{{ timer.month | twoDigit }}</span>
        <div class="unit">{{ monthText }}</div>
      </b-col>
      <b-col
        v-if="day"
        class="unit-container"
      >
        <span class="value">{{ timer.day | twoDigit }}</span>
        <div class="unit">{{ dayText }}</div>
      </b-col>
      <b-col
        v-if="hour"
        class="unit-container"
      >
        <span class="value">{{ timer.hour | twoDigit }}</span>
        <div class="unit">{{ hourText }}</div>
      </b-col>
      <b-col
        v-if="minute"
        class="unit-container"
      >
        <span class="value">{{ timer.minute | twoDigit }}</span>
        <div class="unit">{{ minuteText }}</div>
      </b-col>
      <b-col
        v-if="second"
        class="unit-container"
      >
        <span class="value">{{ timer.second | twoDigit }}</span>
        <div class="unit">{{ secondText }}</div>
      </b-col>
    </b-row>
    <b-row
      v-if="!timerOnly || timerExpired"
      class="message"
      aria-hidden="true"
    >
      <b-col>
        <p>{{ message }}</p>
      </b-col>
    </b-row>
    <b-row
      class="accessibility-timer sr-only sr-only-focusable"
      aria-live="polite"
    >
      <b-col>
        <p>{{ srText }}</p>
      </b-col>
    </b-row>
  </b-card>
</template>

<script>
const moment = require('moment')

export default {
  name: 'CountdownTimer',
  filters: {
    /**
     * Converts numbers to 2 digit strings.
     *
     * @param   {Number} - The number to be converted.
     *
     * @returns {String}
     */
    twoDigit (value) {
      // Make sure the value is a number.
      if (isNaN(value)) throw new Error(`${value} is not a number.`)

      // Convert the value to a string.
      value = value.toString()

      // Return the string.
      return value.length > 1 ? value : `0${value}`
    }
  },
  props: {
    /**
     * The title of the timer.
     */
    title: {
      type: String,
      required: true,
      default: ''
    },
    /**
     * The HTML tag used for the title of the timer.
     */
    titleTag: {
      type: String,
      required: false,
      default: 'h2',
      validator: (value) => {
        if (document.createElement(value)) return true
        else return false
      }
    },
    /**
     * The starting date of the timer.
     */
    start: {
      type: String,
      required: false,
      default: () => {
        return moment()
      },
      validator: (value) => {
        return moment(value).isValid()
      }
    },
    /**
     * The end date of the timer.
     */
    end: {
      type: String,
      required: true,
      default: () => {
        return moment()
      },
      validator: (value) => {
        return moment(value).isValid()
      }
    },
    /**
     * The message used when the timer's starting date is upcoming.
     */
    upcoming: {
      type: String,
      required: false,
      default: 'Until the event.'
    },
    /**
     * The message used when the timer is running.
     */
    running: {
      type: String,
      required: false,
      default: 'Until the event ends.'
    },
    /**
     * The message used when the timer's end date has passed.
     */
    expired: {
      type: String,
      required: false,
      default: 'The event is over.'
    },
    /**
     * Toggles the year counter for the timer.
     */
    year: {
      type: Boolean,
      required: false,
      default: false
    },
    /**
     * Toggles the month counter for the timer.
     */
    month: {
      type: Boolean,
      required: false,
      default: false
    },
    /**
     * Toggles the day counter for the timer.
     */
    day: {
      type: Boolean,
      required: false,
      default: false
    },
    /**
     * Toggles the hour counter for the timer.
     */
    hour: {
      type: Boolean,
      required: false,
      default: true
    },
    /**
     * Toggles the minute counter for the timer.
     */
    minute: {
      type: Boolean,
      required: false,
      default: true
    },
    /**
     * Toggles the second counter for the timer.
     */
    second: {
      type: Boolean,
      required: false,
      default: true
    },
    /**
     * Toggles hiding the message for the timer.
     */
    timerOnly: {
      type: Boolean,
      required: false,
      default: false
    },
    /**
     * Sets the interval at which the screen reader text will be updated.
     */
    updateOn: {
      type: String,
      required: false,
      default: 'minute',
      validator (value) {
        const validOptions = [
          'year',
          'month',
          'day',
          'hour',
          'minute',
          'second'
        ]

        return validOptions.indexOf(value) !== -1
      }
    }
  },
  data () {
    return {
      interval: null,
      message: '',
      timer: {},
      timerExpired: false,
      srText: ''
    }
  },
  computed: {
    /**
     * The text to use for years. Will use i18n if available.
     */
    yearText () {
      if (this.timer.year === 1) return this.$tc ? this.$tc('i18nYear', 1) : 'year'

      return this.$tc ? this.$tc('i18nYear', 2) : 'years'
    },
    /**
     * The text to use for months. Will use i18n if available.
     */
    monthText () {
      if (this.timer.month === 1) return this.$tc ? this.$tc('i18nMonth', 1) : 'month'

      return this.$tc ? this.$tc('i18nMonth', 2) : 'months'
    },
    /**
     * The text to use for days. Will use i18n if available.
     */
    dayText () {
      if (this.timer.day === 1) return this.$tc ? this.$tc('i18nDay', 1) : 'day'

      return this.$tc ? this.$tc('i18nDay', 2) : 'days'
    },
    /**
     * The text to use for hours. Will use i18n if available.
     */
    hourText () {
      if (this.timer.hour === 1) return this.$tc ? this.$tc('i18nHour', 1) : 'hour'

      return this.$tc ? this.$tc('i18nHour', 2) : 'hours'
    },
    /**
     * The text to use for minutes. Will use i18n if available.
     */
    minuteText () {
      if (this.timer.minute === 1) return this.$tc ? this.$tc('i18nMinute', 1) : 'minute'

      return this.$tc ? this.$tc('i18nMinute', 2) : 'minutes'
    },
    /**
     * The text to use for seconds. Will use i18n if available.
     */
    secondText () {
      if (this.timer.second === 1) return this.$tc ? this.$tc('i18nSecond', 1) : 'second'

      return this.$tc ? this.$tc('i18nSecond', 2) : 'seconds'
    },
    /**
     * Stores the value to watch for screen reader text updates.
     */
    unitWatcher () {
      return this.timer[this.updateOn]
    }
  },
  watch: {
    /**
     * Updates the screen reader text.
     */
    unitWatcher () {
      this.updateSrText()
    }
  },
  created () {
    // Set the start and end dates using moment.
    const start = moment(this.start)
    const end = this.end ? moment(this.end) : start

    // Create the timer.
    this.timer = this.calculateTimer(start, end, this.year, this.month, this.day, this.hour, this.minute, this.second)

    // Update the timer every second.
    this.interval = setInterval(() => {
      this.timer = this.calculateTimer(start, end, this.year, this.month, this.day, this.hour, this.minute, this.second)
    }, 1000)
  },
  methods: {
    /**
     * Check if the timer is upcoming.
     *
     * @param   {String} start - The start date/time.
     * @param   {String} end - The end date/time.
     *
     * @returns {Boolean}
     */
    isUpcoming (start, end) {
      return start > 0 && end > 0
    },
    /**
     * Check if the timer is running.
     *
     * @param   {String} start - The start date/time.
     * @param   {String} end - The end date/time.
     *
     * @returns {Boolean}
     */
    isRunning (start, end) {
      return start < 0 && end > 0
    },
    /**
     * Check if the timer has expired.
     *
     * @param   {String} start - The start date/time.
     * @param   {String} end - The end date/time.
     *
     * @returns {Boolean}
     */
    isExpired (start, end) {
      return start < 0 && end < 0
    },
    /**
     * Calculates the time between two dates
     * and breaks it down into a desired granularity.
     *
     * @param   {Object}  startDate           - momentjs time object.
     * @param   {Object}  endDate             - momentjs time object.
     * @param   {Boolean} [year = true]       - Adds years to the timer.
     * @param   {Boolean} [month = true]      - Adds months to the timer.
     * @param   {Boolean} [day = true]        - Adds days to the timer.
     * @param   {Boolean} [hour = true]       - Adds hours to the timer.
     * @param   {Boolean} [minute = true]     - Adds minutes to the timer.
     * @param   {Boolean} [second = true]     - Adds seconds to the timer.
     * @param   {Boolean} [milisecond = true] - Adds miliseconds to the timer.
     *
     * @returns {Object} A timer broken down into the desired granularity.
     */
    calculateTimer (startDate, endDate, year = true, month = true, day = true, hour = true, minute = true, second = true) {
      const now = moment()
      const start = moment.duration(startDate.diff(now)).asMilliseconds()
      const end = moment.duration(endDate.diff(now)).asMilliseconds()
      const timer = {}
      let time = 0

      // Calculate if the timer is upcoming, running, or expired and act accordingly.
      if (this.isExpired(start, end)) {
        // Set the message for an expired timer.
        this.message = this.expired

        // Stop checking for updates.
        clearInterval(this.interval)

        this.eventExpired = true

        return {}
      } else if (this.isRunning(start, end)) {
        // Set the message for a running timer.
        this.message = this.running

        // Set the time to calculate to the difference between now and the end date.
        time = moment.duration(endDate.diff(now))
      } else if (this.isUpcoming(start, end)) {
        // Set the message for an upcoming timer.
        this.message = this.upcoming

        // Set the time to calculare to the difference between now and the start date.
        time = moment.duration(startDate.diff(now))
      } else {
        return {}
      }

      // Set the number of years and subtract them from the remaining time.
      if (year) {
        const years = moment.duration(Math.floor(time.asYears()), 'years')
        time.subtract(years)
        timer.year = years.asYears() >= 0 ? years.asYears() : 0
      }

      // Set the number of months and subtract them from the remaining time.
      if (month) {
        const months = moment.duration(Math.floor(time.asMonths()), 'months')
        time.subtract(months)
        timer.month = months.asMonths() >= 0 ? months.asMonths() : 0
      }

      // Set the number of days and subtract them from the remaining time.
      if (day) {
        const days = moment.duration(Math.floor(time.asDays()), 'days')
        time.subtract(days)
        timer.day = days.asDays() >= 0 ? days.asDays() : 0
      }

      // Set the number of hours and subtract them from the remaining time.
      if (hour) {
        const hours = moment.duration(Math.floor(time.asHours()), 'hours')
        time.subtract(hours)
        timer.hour = hours.asHours() >= 0 ? hours.asHours() : 0
      }

      // Set the number of minutes and subtract them from the remaining time.
      if (minute) {
        const minutes = moment.duration(Math.floor(time.asMinutes()), 'minutes')
        time.subtract(minutes)
        timer.minute = minutes.asMinutes() >= 0 ? minutes.asMinutes() : 0
      }

      // Set the number of seconds.
      if (second) {
        const seconds = moment.duration(Math.floor(time.asSeconds()), 'seconds')
        timer.second = seconds.asSeconds() >= 0 ? seconds.asSeconds() : 0
      }

      // Check to make sure timer has a valid length before returning it.
      return Object.keys(timer).length >= 1 ? timer : {}
    },
    /**
     * Generates the screen reader text.
     */
    updateSrText () {
      let text = ''

      if (this.year) text = `${this.timer.year} ${this.yearText} `
      if (this.month) text += `${this.timer.month} ${this.monthText} `
      if (this.day) text += `${this.timer.day} ${this.dayText} `
      if (this.hour) text += `${this.timer.hour} ${this.hourText} `
      if (this.minute) text += `${this.timer.minute} ${this.minuteText} `
      if (this.second) text += `${this.timer.second} ${this.secondText} `

      text += this.message

      this.srText = text
    }
  }
}
</script>
